/* -----------------------------------------------------------------------------
setting
----------------------------------------------------------------------------- */

html {
	font-size: 16px;
}

/* -----------------------------------------------------------------------------
mixin
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
page
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
	section
----------------------------------------------------------------------------- */

.section {
	background: #f6f6f6;
	padding-top: 160px;
}

.section.-contact {
	padding-bottom: 160px;
	text-align: center;
}

.section__title {
	font-size: 2.5rem;
	text-align: center;
}

.section__title span {
	position: relative;
}

.section__title span:after {
	-webkit-transform: translateX(-50%);
	position: absolute;
	bottom: -6px;
	left: 50%;
	transform: translateX(-50%);
	background: linear-gradient(120deg, #0f55b3 0%, #319aed 100%);
	width: 50%;
	height: 4px;
	content: "";
}

.section__inner {
	margin: 0 auto;
	padding: 0 48px;
	max-width: 1080px;
}

.section__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 56px;
}

.section__container.-about {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.section__content {
	margin-top: 80px;
	background: #0f55b3;
	padding: 5rem 5rem calc(5rem + 6px);
	width: 59.3%;
	color: #fff;
}

.section__txt {
	font-size: 0.875rem;
	line-height: 2.4;
}

.section__txt.-about span,
.section__txt.-works span,
.section__txt.-profile span {
	-webkit-clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
	-webkit-transition: -webkit-clip-path 1.4s cubic-bezier(0.34, 0.07, 0.095, 0.995);
	display: inline-block;
	clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
	transition: -webkit-clip-path 1.4s cubic-bezier(0.34, 0.07, 0.095, 0.995);
	transition: clip-path 1.4s cubic-bezier(0.34, 0.07, 0.095, 0.995);
	transition: clip-path 1.4s cubic-bezier(0.34, 0.07, 0.095, 0.995), -webkit-clip-path 1.4s cubic-bezier(0.34, 0.07, 0.095, 0.995);
}

.is-animate .section__txt.-about span,
.is-animate .section__txt.-works span,
.is-animate .section__txt.-profile span {
	-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
	clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}

.section__txt.-contact {
	margin-top: 56px;
}

.section__txt.-profile {
	margin-top: 24px;
}

.section__img-inner {
	width: 40.7%;
}

.section__img {
	position: relative;
	overflow: hidden;
}

.section__img:before {
	-webkit-transition: width 1.4s cubic-bezier(0.34, 0.07, 0.095, 0.995);
	display: block;
	position: absolute;
	top: 0;
	z-index: 1;
	transition: width 1.4s cubic-bezier(0.34, 0.07, 0.095, 0.995);
	background: #f6f6f6;
	width: 100%;
	height: 100%;
	content: "";
}

.is-animate .section__img:before {
	right: 0;
	width: 0;
}

.section__img img {
	-webkit-transform: translateX(-10%);
	-webkit-transition: -webkit-transform 1.4s cubic-bezier(0.34, 0.07, 0.095, 0.995);
	transform: translateX(-10%);
	transition: -webkit-transform 1.4s cubic-bezier(0.34, 0.07, 0.095, 0.995);
	transition: transform 1.4s cubic-bezier(0.34, 0.07, 0.095, 0.995);
	transition: transform 1.4s cubic-bezier(0.34, 0.07, 0.095, 0.995), -webkit-transform 1.4s cubic-bezier(0.34, 0.07, 0.095, 0.995);
}

.is-animate .section__img img {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.section__detail {
	margin-top: 56px;
}

.section__link {
	position: relative;
	color: #fff;
}

.section__link:after {
	-webkit-transition: width .6s ease;
	position: absolute;
	bottom: -4px;
	left: 0;
	transition: width .6s ease;
	background: #fff;
	width: 100%;
	height: 2px;
	content: "";
}

.section__link:hover:after {
	width: 120%;
}

.section__mail {
	display: inline-block;
	position: relative;
	margin-top: 40px;
	font-size: 1.5rem;
}

.section__mail:after {
	-webkit-transform: translateX(-50%);
	position: absolute;
	bottom: -8px;
	left: 50%;
	transform: translateX(-50%);
	background: linear-gradient(120deg, #0f55b3 0%, #319aed 100%);
	width: 100%;
	height: 4px;
	content: "";
}

.section__mail-link {
	color: #333;
}

.work__contents-inner:not(:first-of-type) {
	margin-top: 40px;
}

.work__heading {
	color: #0f55b3;
	font-size: 2rem;
}

.work__heading span {
	-webkit-clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
	-webkit-transition: -webkit-clip-path 1.4s cubic-bezier(0.34, 0.07, 0.095, 0.995);
	display: inline-block;
	clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
	transition: -webkit-clip-path 1.4s cubic-bezier(0.34, 0.07, 0.095, 0.995);
	transition: clip-path 1.4s cubic-bezier(0.34, 0.07, 0.095, 0.995);
	transition: clip-path 1.4s cubic-bezier(0.34, 0.07, 0.095, 0.995), -webkit-clip-path 1.4s cubic-bezier(0.34, 0.07, 0.095, 0.995);
}

.is-animate .work__heading span {
	-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
	clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}

.work__txt {
	margin-top: 8px;
	line-height: 2;
}

.work__txt span {
	-webkit-clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
	-webkit-transition: -webkit-clip-path 1.4s cubic-bezier(0.34, 0.07, 0.095, 0.995);
	display: inline-block;
	clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
	transition: -webkit-clip-path 1.4s cubic-bezier(0.34, 0.07, 0.095, 0.995);
	transition: clip-path 1.4s cubic-bezier(0.34, 0.07, 0.095, 0.995);
	transition: clip-path 1.4s cubic-bezier(0.34, 0.07, 0.095, 0.995), -webkit-clip-path 1.4s cubic-bezier(0.34, 0.07, 0.095, 0.995);
}

.is-animate .work__txt span {
	-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
	clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}

.work__link {
	position: relative;
	color: #333;
}

.work__link:after {
	-webkit-transform: translateX(-50%);
	position: absolute;
	bottom: -2px;
	left: 50%;
	transform: translateX(-50%);
	background: linear-gradient(120deg, #0f55b3 0%, #319aed 100%);
	width: 100%;
	height: 2px;
	content: "";
}

.work__img {
	margin-top: 80px;
	text-align: center;
}

@media only screen and (max-width: 768px) {

.section__inner {
	padding: 0 24px;
}

.section__container.-about {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

.section__container {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

.section__content {
	margin-top: 24px;
	padding: 48px 24px calc(48px + 6px);
	width: 100%;
}

.section__img-inner {
	width: 100%;
}

}

