@charset "utf-8";

body {
    position: relative;
    width: 100%;
	color: #333;
	font-family: "renner","Noto Sans JP", sans-serif;
    cursor: none;
}

a {
	color: #333;
    text-decoration: none;
    transition: all .4s ease;
}

img {
    width: 100%;
	max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

h1,h2,h3,h4 {
    font-weight: normal;
}

li {
    list-style: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}